#portfolio2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			i.fa.fa-times.fa-4
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 
							a(href="http://ileanaycelso.com" target="_blank") IleanaYCelso.com
						hr
						a(href="http://ileanaycelso.com" target="_blank")
							img.img-responsive.img-centered(src='img/portfolio/ileana-y-celso.jpg', alt='')
						p This is a website for a project my wife and I have started. We sing at events and at our congregation, so we decided to create this website to market ourselves and start creating an online presence.

						ul.list-inline.item-details
							li
								| Date:
								strong
									p July 2016
							li
								| Service:
								strong
									p Static Site
						.text-center
							button.btn.btn-default(type='button', data-dismiss='modal')
								i.fa.fa-times  Close
