#sec1
  #sec1-bg
    .container
      .row
        .col-lg-12
          br
          h2.text-center you.
          br
          br
      .row
        .col-sm-4.col-xs-12
          img.img-circle.img-center.img-responsive(src="http://placehold.it/200x200&text=image")
          p.text-center.lead Non-Profit Organization doing awesome work
        .col-sm-4.col-xs-12
          img.img-circle.img-center.img-responsive(src="http://placehold.it/200x200&text=image")
          p.text-center.lead Local business providing a priceless service
        .col-sm-4.col-xs-12
          img.img-circle.img-center.img-responsive(src="http://placehold.it/200x200&text=image")
          p.text-center.lead Social Justice group trying to change the world
      .row
        .col-lg-12
          br
          h2.text-center me.
          br
          br
      .row
        .col-lg-12
          p.lead.big.text-center #[span.blue Lorem] ipsum dolor #[span.blue sit amet], consectetur adipisicing.
