#portfolio2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			i.fa.fa-times.fa-4
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 LatinoCLD.com
						hr
						img.img-responsive.img-centered(src='img/portfolio/latinocld.jpg', alt='')
						p  I really enjoyed this project because I designed this website from scratch and created the design concept into a Wordpress theme. This website uses the Bootsrap framework, so it is mobile-responsive.
						p It was also a pleasure to work with the foundind team of this organization while they planned and executed the launch of this organization and website. It is always very rewarding when I get to work with people doing great work.
						ul.list-inline.item-details
							li
								| Client:
								strong
									p
										a(href="http://latinocld.com/") Latino Center for Leadership Development
							li
								| Date:
								strong
									p February 2015
							li
								| Service:
								strong
									p Web Development
						.text-center
							button.btn.btn-default(type='button', data-dismiss='modal')
								i.fa.fa-times  Close
