#portfolio3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			i.fa.fa-times.fa-4
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 GoBigBrother.org
						hr
						img.img-responsive.img-centered(src='img/portfolio/big-brothers-big-sisters.jpg', alt='')
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem iure sed modi officiis dolor quam ratione nobis adipisci dicta totam.
						ul.list-inline.item-details
							li
								| Client:
								strong
									p Non Organizational
							li
								| Date:
								strong
									p September 2015
							li
								| Service:
								strong
									p Web Development
						.text-center
							button.btn.btn-default(type='button', data-dismiss='modal')
								i.fa.fa-times  Close
