#portfolio4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			i.fa.fa-times.fa-4
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 FestivalDFW.com
						hr
						img.img-responsive.img-centered(src='img/portfolio/festivaldfw.jpg', alt='')
						p This was a website put together by a local magazine owner in the Dallas/Ft. Worth area for "El Dia de Los Niños", Children's Day in English.
						p This client needed a simple but attractive website for promotion of sponsors and general information of the scheduled activities. I decided that creatind a responive SPA (Single Page App) site would be more suitable for this project.
						ul.list-inline.item-details
							li
								| Client:
								strong
									p 
										a(href="http://www.informatedfw.com/") Informate Magazine
							li
								| Date:
								strong
									p May 2015
							li
								| Service:
								strong
									p Web Development
						.text-center
							button.btn.btn-default(type='button', data-dismiss='modal')
								i.fa.fa-times  Close
